
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins&display=swap');
body {
    background-color: black;
    margin: 0;
    padding: 0;

}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    padding-top: 0em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: center;
}

.nav_link {
    font-family: 'poppins';
    padding: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    color:white;
    font-size: 1.2em;
    font-style: 'poppins';
    text-decoration: none;
    text-align: center;
}
#title{
    margin:0;
    
}
p{
    padding-top:2em;
    width:40%;
    margin:0 auto;
    line-height: 1.5em;
}

main {
    background-color: white;
    font-family: 'poppins';
    text-align: center;
    padding: 1em;
}
a:hover {
    color: black;
    background-color: white;
}

img {
    width: 40%;
    margin: 0 auto;
    border-radius: 50%;

}
h1{
    text-align: center;
    font-size: 8em;
    font-family: 'DM+Serif+Display';
}
.footer{
    padding: 1em;
    color:black;
    font-family: 'poppins';
    text-align: center;
    background-color: lightslategray;


}
footer a{
    font-family: 'poppins';
    color:black;
}