body {
    background-color: darkgrey;

}

.navlink {
    padding: 10px;
    color:black;
    font-size: 1.2em;
    font-style: 'veranda';
    text-decoration: none;
}

a:hover {color: grey;
    background-color: white;}

img {
    width: 300px;
}

